doctype html
html
  head
    title Parag Dance academy
    block scripts
    block style
      
  body
   nav#navbar
       ul
           div#logo
              img(src='/static/img/a6.png')
              | PDA
           li #[a(href="/Dance-Website") Home]
           li #[a(href="/Dance-Website/about") About]
           li #[a(href="/Dance-Website/services") Services]
           li #[a(href="/Dance-Website/classinfo") Class info.]
           li #[a(href="/Dance-Website/contact") Contact us]

block content
footer#footer
    | Copyright &copy paragsutare11@gmail.con | All Right Reserved
